# minimal testing config for 4.0-drm kernel

# testing kernel stuff

#arm_freq=1000
#core_freq=500
#sdram_freq=500
#arm_freq_min=400
#sdram_freq_min=250
#core_freq_min=250

# new
#over_voltage=2
# old
#over_voltage=6

#gpu_mem_512=256
cma_offline_start=16

mask_gpu_interrupt0=0x400

kernel=kernel-drm.img

device_tree=bcm2835-rpi-b.dtb
device_tree_address=0x100
kernel_address=0x8000
#disable_commandline_tags=1

# mainline boot test parameters for u-boot
# http://kernelci.org/boot/bcm2835-rpi/job/rmk/kernel/v4.0-rc1-22-g139a0434f254/defconfig/bcm2835_defconfig/lab/lab-khilman/?_id=5516fe5759b514f72bb19262
#device_tree_address=0x01f00000
#kernel_address=0x01000000
